body {
    background-image: url(./images/soccerarena.jpeg);
    background-image: cover;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 3px;
    margin-left: auto;
}

.ramos {
    display: block;
    width: 400px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    border-radius: 30px;
    
}

#btn {
    font-weight: bold;
    font-family: italic;
    font-size: 20px;
    height: 2em;
    width: 10rem;
    border-radius: 15px;
    border-style: none;
    color: azure;
    background-color: black;
}

#btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 50px red, 0 0 25px black;
}

.button-container {
    text-align: center;
}
